/*header*/
#rec662175967 {
  & .t451__burger-wrapper__mobile {
    @media screen and (max-width: 980px) {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(100% / 3);
      position: relative;
      height: 100%;
      order: 1;
    }
  }

  & .t451__centerside.t451__side {
    @media screen and (max-width: 980px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(100% / 3);
      position: relative;
      height: 100%;
      margin-right: 0;
      order: 2;
    }
  }

  & .t451__rightside.t451__side.t451__side_socials {
    @media screen and (max-width: 980px) {
      min-width: calc(100% / 3);
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      position: relative;
      height: 100%;
      justify-content: flex-end;
      order: 3;
    }

  }


}

.uc-main-header {
  & .tmenu-mobile.tmenu-mobile_positionfixed {
    box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
  }
}



/*Главный баннер в мобилке*/
.uc-main-banner {
  margin-top: 88px;

  @media (min-width: 981px) {
    margin-top: 95px;
  }
  @media screen and (max-width: 960px) {
    & .t-cover,
    & .t-cover__carrier.loaded,
    & .t-cover__filter {
      aspect-ratio: 2 / 1;
      height: auto!important;
    }
  }
}


/*Текстовый блок на мобилке*/
.uc-main-banner {
  & .t-cover,
  & .t-cover__filter {
    background-color: transparent!important;
    background-image: none!important;
  }

  margin-top: -93px;
  margin-bottom: -85px;

  @media screen and (min-width: 480px) {
    margin-top: -117px;
    margin-bottom: -190px;
  }

  @media screen and (min-width: 640px) {
    margin-top: -170px;
    margin-bottom: -108px;
  }

  @media screen and (min-width: 961px) {
    margin-top: -540px;
    margin-bottom: -160px;
  }

  @media screen and (min-width: 1201px) {
    margin-top: -555px;
    margin-bottom: -145px;
  }

  & .t-col_7 {
    @media screen and (min-width: 961px) {
      max-width: 580px;
    }
  }

}

/*Главный баннер на десктопе и текстовый блок на мобилке*/
.uc-main-banner {
  & .t189__wrapper {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 961px) {
      padding: 40px 25px;
    }
  }

  & .t189__title {
    letter-spacing: normal;
  }

  & .t189__descr {
    & a {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: #C51C1C;
      }

      &::after {
        content: "";
        position: absolute;
        right: -26px;
        top: 50%;
        width: 21px;
        height: 8px;
        transform: translateY(-25%);
        background-image: url("https://static.tildacdn.com/tild3735-3836-4461-b831-343234303231/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  & .t189__wrapper {
    & > div {
      & .t-btnwrapper .t-btn {
        position: relative;
        box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
        padding-left: 72px;

        &::before {

          content: "";
          position: absolute;
          top: 50%;
          left: 30px;
          width: 24px;
          height: 24px;
          transform: translateY(-50%);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      & .t-btnwrapper {
        &:nth-child(1) {
          & .t-btn::before {
            background-image: url("https://static.tildacdn.com/tild3437-6539-4439-a430-376336656362/mortgage.svg");
          }
        }

        &:nth-child(2) {
          & .t-btn::before {
            background-image: url("https://static.tildacdn.com/tild3033-3063-4630-a438-376336376264/sale.svg");
          }
        }
      }
    }
  }
}

/*О нас*/
.uc-about {
  & .t799__title {
    & strong {
      font-size: 16px;
      color: #333;
      display: block;
      margin-top: 12px;
    }
  }
}

/*Каталог*/
.uc-catalog {
  & .t-store__parts-switch-btn.t-active {
    opacity: 1;
    color: #c51c1c;
  }

  & .t-store .t-store__card__wrap_all {
    border-radius: 3px;
    border: 1px solid #DADAE5;
    background: #FFF;
  }

  & .t-store__card__textwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

  }

  & .t-store__card .t-typography__title {
    width: 100%;
    flex-grow: 1;
    order: 1;
  }

  & .t-store__card .t-typography__descr {
    display: inline-block;
    order: 3;
  }

  & .t-store__card__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: inline-flex;
    order: 2;
  }

  & .t-store__card__price {
    order: 2;
    color: #47477F!important;
  }

  & .t-store__card__price_old {
    order: 1;
    font-size: 12px!important;
    color: #7E7EA5!important;
  }

  & .t-popup.t-popup_show {
    background: rgba(255, 255, 255, 0.80)!important;
  }

  & .t-store__prod-popup__container {
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(148, 148, 148, 0.25);
  }

  & .t-store__prod-popup__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: inline-flex;
  }

  & .t-popup .t-store__prod-popup__price {
    order: 2;
    color: #47477F!important;
  }

  & .t-popup .t-store__prod-popup__price_old {
    order: 1;
    font-size: 12px!important;
    color: #7E7EA5!important;
  }

  & .t-popup__close {
    @media screen and (max-width: 560px) {
      background-color: rgba(255, 255, 255, 0.80)!important;
    }
  }

  & .t-slds__container {
    background-color: transparent!important;
    border-radius: 3px;
    border: 1px solid #DADAE5;
  }








}

/*Знакомьтесь. Компания застройщика*/
.uc-advantages {
  & .t-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    box-sizing: border-box;
    column-gap: 20px;
    row-gap: 30px;

    &:before,
    &:after {
      display: none!important;
    }
  }

  & .t-clear.t490__separator {
    display: none!important;
  }
  & .t-item {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
    padding: 15px;
    margin: 0;
    width: 240px;
    max-width: unset;
    flex-grow: 1;
  }
}

/*Форма Ипотека от 5%*/
.uc-mortgage-form {

  & .t700 {
    @media (min-width: 961px) {
      position: relative;
      padding-top: 25px;
      padding-bottom: 30px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://static.tildacdn.com/tild6639-6635-4631-b264-363830656564/b34b5870675abe336657.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: translateX(0);
        z-index: -1;

        @media (min-width: 1201px) {
          width: 980px;
          left: 50%;
          transform: translateX(-400px);

        }
      }
    }
  }

  & .t700__img.t-img {
    @media (min-width: 961px) {
      opacity: 0;
    }
  }

  & .t700__nomargin {
    @media (min-width: 961px) {
      border-radius: 3px;
      background: #FFF;
      box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
      padding: 20px;
    }

    @media (min-width: 1201px) {
      padding: 35px 40px 40px 40px;
    }
  }
}

/*Документы*/
.uc-docs {
  & .t1059__link {
    & .t-descr {
      transition: 0.2s;
    }


    &:hover,
    &:focus {
      & .t-descr {
        color: #c51c1c;
      }

    }
  }
  & .t1059__row {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 641px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 961px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

/*Галерея*/
.uc-gallery {
  & .t-slds__arrow_wrapper-left {
    @media (min-width: 641px) {
      left: 50%;
      transform: translateX(-320px);

      @media (min-width: 961px) {
        transform: translateX(-490px);
      }

      @media (min-width: 1201px) {
        transform: translateX(-600px);
      }
    }

  }

  & .t-slds__arrow_wrapper-right {
    @media (min-width: 641px) {
      right: 50%;
      transform: translateX(320px);

      @media (min-width: 961px) {
        transform: translateX(490px);
      }

      @media (min-width: 1201px) {
        transform: translateX(600px);
      }
    }

  }

  & .t-slds__arrow {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
  }

  & .t-slds__arrow-right {
    @media (min-width: 641px) {
      right: 0;

    }
  }

  & .t-slds__arrow-left {
    @media (min-width: 641px) {
      left: 0;

    }
  }

  & .t-slds__title {
    font-size: 16px;
    font-weight: 400;
  }

  & .t-slds__caption_wrapper {
    border-bottom: 1px solid #DADAE5;
  }
}

/*Хотите увидеть свою будущую квартиру? с формой*/
.uc-excursion-text {

  @media (min-width: 961px) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1200px;
      z-index: -1;
      background: #F6F6F6;
      transform: translateX(-790px);
    }
    & .t-col {
      width: 50%;
    }
  }

  @media (min-width: 1201px) {
    &::before {
      width: 2000px;
      transform: translateX(-1520px);
    }
  }
}
.uc-excursion-form {
  & .t-section__container.t-container {
    display: none;
  }
  & .t700 .t700__col:first-child {
    margin-bottom: 0;
  }


  @media (min-width: 961px) {

    padding-bottom: 165px!important;

    & .t-container.t-container_flex {
      position: relative;
    }

    & .t700__nomargin {
      @media (min-width: 961px) {
        position: absolute;
        width: 100%;
        top: -277px;
        right: 0;


        border-radius: 3px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
        padding: 20px;
      }

      @media (min-width: 1201px) {
        top: -210px;
        padding: 35px 40px 40px 40px;
      }
    }
  }

  @media (min-width: 1201px) {
    padding-bottom: 245px !important;
    & .t700 {
      top: -205px;
    }

  }

}

/*Контакты*/
.uc-contacts {
  & .t554__card {
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
    padding: 20px;
    max-width: unset!important;
    @media (min-width: 961px) {
      max-width: 265px!important;
    }

    @media (min-width: 1201px) {
      padding: 35px 40px 45px;
      max-width: 380px!important;
    }
  }

  & .t554__card-wrapper {
    padding: 20px;
  }

  & .t-text {
    & ul {
      display: flex;
      flex-direction: column;
      gap: 25px;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;

      & > li {
        position: relative;
        padding-left: 40px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        &:nth-child(1) {
          &::before {
            background-image: url("https://static.tildacdn.com/tild6633-6237-4632-a466-343237666432/pin.svg");
          }
        }

        &:nth-child(2) {
          &::before {
            background-image: url("https://static.tildacdn.com/tild3335-3065-4133-b736-636631343336/clock.svg");
          }
        }
        &:nth-child(3) {
          &::before {
            background-image: url("https://static.tildacdn.com/tild6138-6361-4531-b066-306238613533/Call.svg");
          }
        }
      }
    }

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 60px;
      font-size: 16px;
      padding-left: 60px;
      padding-right: 60px;
      white-space: nowrap;
      background-image: none;
      cursor: pointer;
      margin: 0;
      box-sizing: border-box;
      background: 0 0;
      color: #ffffff;
      border: 1px solid #c51c1c;
      background-color: #c51c1c;
      border-radius: 3px;
      font-weight: 400;
      max-width: 300px;
    }
  }
}

/*Появились вопросы? с формой*/
.uc-consult-text  {
  & .t795__descr {
    & ul {
      display: inline-flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 0.5em;

      & li {
        & a {
          display: inline-flex;
          width: 13px;
          height: 13px;

          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          & strong {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            margin: -1px;
            padding: 0;
            width: 1px;
            height: 1px;
            border: 0;
            white-space: nowrap;
            clip-path: inset(100%);
          }


        }
        &:nth-child(2) {
          & a {
            background-image: url("https://static.tildacdn.com/tild3965-3332-4164-a235-383139373535/whatsapp_1.svg");
          }
        }
        &:nth-child(3) {
          & a {
            background-image: url("https://static.tildacdn.com/tild3939-6238-4132-b263-373666656263/viber.svg");
          }
        }
      }
    }
  }

  @media (min-width: 961px) {

    & .t-col {
      width: 50%;
    }
  }
}
.uc-consult-form {
  & .t-section__container.t-container {
    display: none;
  }
  & .t700 .t700__col:first-child {
    margin-bottom: 0;
  }


  @media (min-width: 961px) {

    padding-bottom: 165px!important;

    & .t-container.t-container_flex {
      position: relative;
    }

    & .t700__nomargin {
      @media (min-width: 961px) {
        position: absolute;
        width: 100%;
        top: -210px;
        right: 0;


        border-radius: 3px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
        padding: 20px;
      }

      @media (min-width: 1201px) {
        top: -210px;
        padding: 35px 40px 40px 40px;
      }
    }
  }

  @media (min-width: 1201px) {
    padding-bottom: 245px !important;
    & .t700 {
      top: -205px;
    }

  }

}

/*Попапы*/
.uc-popup {
  & .t-popup_show .t-popup__container {
    box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.45);
  }

  & .t702 .t-popup__block-close {
    @media screen and (max-width: 560px) {
      background: white!important;
    }

  }
}

.uc-header--mobile {
  & .t456__maincontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  & .t456__imglogo {
    margin: 0;
    padding: 0;
  }
}
